body
{
	margin: 0;
	background: #e3e3e3;
	font-family: 'Ravi Prakash', cursive;
}

body h3, h2
{
	font-family: 'Indie Flower', cursive;
}

.head
{
	height:100px;
	margin: 0;
	margin-top: -100px;
	width: 100%;
	background: red;
	
	background-position: 450px;
	position: fixed;
}

.head a
{
	margin-left: 0;
	margin-right: 0;
}

.head img
{
	width: 250px;
	height: 100px;
	float: left;
}

.navigation
{
	margin-left: 0;
	margin-right: 0;
}

.navigation a
{
	color: green;
	text-decoration: none;
}

.navigation a:hover
{
	color:blue;
	text-decoration: underline;
}

.navigation li
{
	display: inline;
	margin: 20px;
	font-size: 30px;
}

.navigation ul
{
	margin-top: 30px;
	margin-bottom: 0;
	margin-left: 400px;
}

.hero
{
	height: 300px;
	margin-top: 100px;
	margin-bottom: 0;
}

.csgo_logo
{
	margin-top: 0px;
	margin-bottom: 0;
	height: 300px;
	width: 100%;
}

.threecol
{
	margin-top: 0;
	margin-bottom: 0;
}

.awp, .ak47, .m4a4, .deagle, .tec9, .fiveseven
{
	width: 300px;
}

.awp img, .ak47 img, .m4a4 img, .deagle img, .tec9 img, .fiveseven img
{
	height: 100px;
	width: 300px;
}

.row1 img, .row2 img, .row3 img
{
	width: 460px;
	height: 90px;
}

.description h3
{
	margin-top: 0;
	margin-bottom: 5px;
}

footer
{
	margin-top: 0;
	background: black;
	color: white;
}

footer a
{
	color: white;
}

footer li
{
	text-decoration: none;
	display: inline;
	margin: 0 10px;
}

footer #first
{
	margin-bottom: 10px;
}

footer ul
{
	margin: 0 480px;
}