.wrap
{
	background-color: green;
	width: 800px;
	margin: auto;
	overflow: hidden;
}
.content
{
	background-color: red;
	float: left;
	width: 80%;
	min-width: 300px;
}
aside
{
	background-color: brown;
	float: right;
	width: 20%;
}

.content, aside
{
	height: 120px;
}