body
{
	font-family: sans-serif;
}

li
{
	display: inline;
	padding-right: 10px;
}
a
{
	text-decoration: none;
	color: #666;
}
ul a:hover
{
	text-decoration: underline;
	font-size: 20px;
	color: blue;
}